*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.body {
  box-sizing: border-box;
}

.hero-img {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
      70deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/villa-pietra2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
