*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

.body {
  box-sizing: border-box;
}

.hero-img {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(../images/villa-pietra2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.img__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
